/* Shared CSS */
.title{
    margin-top: 50px;
    text-align: center;
}
.sub-title{
    text-align: center;
    margin-bottom: 30px;
}
/* Nav bar */
header{
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
}
.banner{
    background-image: url("../images/Hero-bg.png");
    padding-bottom: 20px;
    
}

.banner-title{
    
    text-align: center;
    
}
.banner-description{
    
    text-align: center;
    
}
.banner-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.banner-btn{
    background-color: black;
    color: aliceblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    
}

/*----------------------- Why web Development-------------------------- */
.container{
    width: 60%;
    margin: 0 auto;

}
.each-section{
    display: flex;
    justify-content: space-between;
align-items: center;
    margin:20px 4%;
}
.each-section-detail{
    width: 250px;
}